@model Product
<environment names="Development">
    <link rel="stylesheet" href="~/css/Home Page CSS.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</environment>
<form  method="post" asp-controller="Admin" asp-action="AddProduct">
    <div class="d-flex">
        <div class="m-2">
        <input type="text" placeholder="name" asp-for="name" class="mb-2" />
        <input type="text" placeholder="category" asp-for="category" class="m-0"/>
    </div>
    
    <div class="m-2">
        <input type="text" placeholder="weight" asp-for="weight" class="mb-2" /><br>
        <input type="text" placeholder="price" asp-for="price"/>
    </div>
    
    
    <div class="m-2">
        <input type="text" placeholder="Promoted?" asp-for="is_promoted" class="mb-2"/><br>
    <input type="text" placeholder="Best seller?" asp-for="is_best_seller" />
    </div>
    
    <div class="m-2"><input type="text" placeholder="Image url" asp-for="imgURL"  class="mb-2"/><br>
    <input type="text" placeholder="quantity" asp-for="quantity" /></div>
    
    </div>
    

    <input type="hidden" placeholder="Id" asp-for="Carts" />
    <input type="hidden" placeholder="Id" asp-for="WishLists" />
    
    <input type="submit" class="btn btn-success ms-2" value="Add Product" />
</form>