<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _278Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_278Project.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navigation ms-0">

            <!--logo-------->
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">

                <span>Quick</span><br /><span style="color: black">Grab</span>

            </a>

            <!--menu-btn---->
            <input type="checkbox" class="menu-btn" id="menu-btn">

            <label for="menu-btn" class="menu-icon">

                <span class="nav-icon"></span>

            </label>

            <!--menu-------->
            <ul class="menu">

                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="active PageOption">

                        Home

                    </a>

                </li>

                <li>

                    <a asp-action="Categories" class="PageOption">

                        Categories

                    </a>

                </li>

                <li>

                    <a asp-action="Promotions" class="PageOption">

                        Promotions

                    </a>

                </li>

                <li>

                    <a asp-area="" asp-controller="Home" asp-action="NewArrivals" class="PageOption">

                        New&nbsp;Arrivals

                    </a>

                </li>

                <li>

                    <a asp-area="" asp-controller="Home" asp-action="AboutUs" class="PageOption">

                        About&nbsp;us

                    </a>

                </li>

                <li>

                    <a asp-action="App" class="PageOption">

                        App

                    </a>

                </li>


                @using Microsoft.AspNetCore.Identity
                @inject SignInManager<User> signInManager
                @if (signInManager.IsSignedIn(User))
                {
                    <li>
                        <form method="post" asp-action="LogOut" asp-controller="Account" asp-area="">
                            <input type="submit" value="Log Out" class="btn btn-outline-success" />
                            <span class="text-dark">@User.Identity.Name</span>

                        </form>
                    </li>
                    @inject UserManager<User> userManager
                    @foreach (User user in userManager.Users)
                    {

                        @if ((await userManager.IsInRoleAsync(user, "Admin")) && (User.IsInRole("Admin")))
                        {
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Admin" asp-area="" class="btn btn-outline-dark">Admin</a>
                            </li>
                        }

                    }

                }
                else
                {
                    // get current action
                    var action = ViewContext.RouteData.Values["action"]?.ToString();
                    // anonymous user - Register link and Log In button
                    <li class="nav-item">
                        <a method="post" asp-action="Register" asp-controller="Account" asp-area=""
                        class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="LogIn" asp-controller="Account" asp-area="" class="btn btn-outline-light">Log In</a>
                    </li>

                }


            </ul>

            <!--right-nav-(cart-like)-->
            <div class="right-nav">

                <!--like----->
                <a asp-action="WishList" class="like">

                    <i class="fa fa-heart"></i>

                    <span>

                        2

                    </span>

                </a>

                <!--cart----->
                <a asp-action="ViewCart" class="cart">

                    <i class="fa fa-shopping-cart"></i>

                    <span>

                        2

                    </span>

                </a>

                <!--cart----->
                <a asp-action="Profile" class="user-profile">

                    <i class="fa fa-user"></i>

                    <span>

                        1

                    </span>

                </a>

            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-container">
            <!--logo-container------>
            <div class="footer-logo">
                <a href="images/quickGrab.JPG"><span>Quick</span><br />Grab</a>
                <!--social----->
                <div class="footer-social">
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://www.twitter.com/" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                </div>
            </div>
            <!--links------------------------->
            <div class="footer-links">
                <strong>Products</strong>
                <ul>
                    <li><a href="#BestPromotions">Promotions</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="BestSellers">Best Sellers</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="NewArrivals">New Arrivals</a></li>
                </ul>
            </div>
            <!--links------------------------->
            <div class="footer-links">
                <strong>Categories</strong>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Beauty">Beauty</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="FruitesAndVeggies">Fruits And Veggies</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="BabyCare">Baby</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Food">Food</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Office">Stationary</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Gardening">Gardening</a></li>
                </ul>
            </div>
            <!--links-------------------------->
            <div class="footer-links">
                <strong>Contact Us</strong>
                <ul>
                    <li><a href="#">Phone : +123456789</a></li>
                </ul>
                <br>
                <p style="color: aliceblue;">Copyright ©2022 | All Rights Reserved</p>
            </div>
        </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
