@{
    ViewData["Title"] = "Best Sellers";
}
@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<title>

    Best Sellers

</title>

<script src="https://kit.fontawesome.com/5471644867.js" crossorigin="anonymous"></script>

<environment names="Development">
    <link rel="stylesheet" href="~/css/ProductPage.css" />
</environment>

<body>

    <section id="popular-product">
        <!--logo-------->
        <div class="totalLogo">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                <span>Quick</span><br />Grab
            </a>
        </div>
        <!--heading----------->
        <div class="product-heading">
            <h2 class='fruits-heading'>Best Sellers</h2>
        </div>
        <!--box-container------>
        <div class="product-container">
            <!--box---------->
            <div class="product-box">
                <img alt="apple" src="~/images/images/apple.png">
                <strong>Apple</strong>
                <span class="quantity">1 KG</span>
                <span class="price">LBP 60,000</span>
                <!--cart-btn------->
                <a href="Shopping Cart HTML.html" class="cart-btn">
                    <i class="fa fa-shopping-bag"></i> Add to Cart
                </a>
                <!--like-btn------->
                <a class="like-btn">
                    <i class="fa fa-heart"></i>
                </a>
            </div>
            <!--box---------->
            <div class="product-box">
                <img alt="chili" src="~/images/images/chili.png">
                <strong>Chili</strong>
                <span class="quantity">1 KG</span>
                <span class="price">LBP 45,000</span>
                <!--cart-btn------->
                <a href="Shopping Cart HTML.html" class="cart-btn">
                    <i class="fa fa-shopping-bag"></i> Add to Cart
                </a>
                <!--like-btn------->
                <a class="like-btn">
                    <i class="fa fa-heart"></i>
                </a>
            </div>
            <!--box---------->
            <div class="product-box">
                <img alt="onion" src="~/images/images/onion.png">
                <strong>Onion</strong>
                <span class="quantity">1 KG</span>
                <span class="price">LBP 34,000</span>
                <!--cart-btn------->
                <a href="Shopping Cart HTML.html" class="cart-btn">
                    <i class="fa fa-shopping-bag"></i> Add to Cart
                </a>
                <!--like-btn------->
                <a class="like-btn">
                    <i class="fa fa-heart"></i>
                </a>
            </div>
            <!--box---------->
            <div class="product-box">
                <img alt="potato" src="~/images/images/patato.png">
                <strong>Potato</strong>
                <span class="quantity">1 KG</span>
                <span class="price">LBP 50,000</span>
                <!--cart-btn------->
                <a href="Shopping Cart HTML.html" class="cart-btn">
                    <i class="fa fa-shopping-bag"></i> Add to Cart
                </a>
                <!--like-btn------->
                <a class="like-btn">
                    <i class="fa fa-heart"></i>
                </a>
            </div>
            <!--box---------->
            <div class="product-box">
                <img alt="garlic" src="~/images/images/garlic.png">
                <strong>Garlic</strong>
                <span class="quantity">1 KG</span>
                <span class="price">LBP 42,000</span>
                <!--cart-btn------->
                <a href="#" class="cart-btn">
                    <i class="fa fa-shopping-bag"></i> Add to Cart
                </a>
                <!--like-btn------->
                <a class="like-btn">
                    <i class="fa fa-heart"></i>
                </a>
            </div>
            <!--box---------->
            <div class="product-box">
                <img alt="tomato" src="~/images/images/tamato.png">
                <strong>Tomato</strong>
                <span class="quantity">1 KG</span>
                <span class="price">LBP 30,000</span>
                <!--cart-btn------->
                <a href="Shopping Cart HTML.html" class="cart-btn">
                    <i class="fa fa-shopping-bag"></i> Add to Cart
                </a>
                <!--like-btn------->
                <a class="like-btn">
                    <i class="fa fa-heart"></i>
                </a>
            </div>
            <!--box---------->
            <div class="product-box">
                <img alt="Nivea Body Milk" src="~/images/Moisturizer.jpg">
                <strong>Nivea Body Milk</strong>
                <span class="quantity">200 ml</span>
                <span class="price">LBP 120,000</span>
                <!--cart-btn------->
                <a href="Shopping Cart HTML.html" class="cart-btn" style='text-decoration: none;'>
                    <i class="fas fa-shopping-bag"></i> Add to Cart
                </a>
                <!--like-btn------->
                <a class="like-btn" style='text-decoration: none;'>
                    <i class="far fa-heart"></i>
                </a>
            </div>
        </div>
    </section>

</body>

</html>