@model LogInViewModel

@{
    ViewBag.Title= "LogIn";
}
<!DOCTYPE html>

<!--This is a login page made up with HTML,CSS and javascript-->

<html>

<head>
    <script src="https://kit.fontawesome.com/5471644867.js" crossorigin="anonymous"></script>
    <environment>
        <link type="text/css" rel="stylesheet" href="~/css/Login And Registration CSS.css">
        <link type="text/css" rel="stylesheet" href="~/css/Home Page CSS.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>

</head>

<body>
    <section class="imp">

        <section>
            <div class="login show" id="one">

                <div class="textbox slide-left2">

                    <div class="head">

                        <h1>

                            Sign In to QuickGrab
                        </h1>



                        <h3 style="cursor: pointer;">

                            Products at your doorstep!

                        </h3>

                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form method="post" asp-controller="Account" asp-action="LogIn">

                        <input asp-for="Email" type="text" placeholder="EMAIL" required>

                        <input asp-for="Password" type="password" placeholder="PASSWORD" required>


                        <button type="submit" class='sign_in_btn'>

                                SIGN IN

                        </button>

                    </form>

                </div>

            </div>

            <div class="sec show" id="two">

                <div class="textbox slide-left">

                    <h1>

                        Not a member?

                    </h1>

                    <p>

                        Sign up and start shopping.

                    </p>

                    <button asp-controller="Account" asp-action="Register" id="b1" style="cursor: pointer;" class='prompt_sign_up'>

                        SIGN UP

                    </button>

                </div>

            </div>
        </section>
    <body>
         <script src="~/js/Login And Registration JS.js"></script>
</html>