
<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <environment>
        <link rel="stylesheet" href="~/css/Home Page CSS.css">
        <link rel="stylesheet" href="~/css/Profile CSS.css"> 
    </environment>
    
    <script src="https://kit.fontawesome.com/cacf32ff12.js" crossorigin="anonymous"></script>
</head>
<body>



    <div class="container">
        <div class="leftbox">
            
        </div>
        <div class="rightbox">
            <div class="profile tabShow">
                <h1>Personal Information</h1>
                <h2>Name</h2>
                <input type="text" class="input" value="username" readonly>
                <h2>Phone</h2>
                <input type="text" class="input" >
                <h2>Email</h2>
                <input type="email" class="input">
                <h2>Password</h2>
                <input type="password" class="input" >
                <button type="button" class="btn">
                    <a asp-action="Index" style = 'color: green; text-decoration: none;'>update</a>
                </button>
            </div>
           </div>
    </div>

    <script src="~/js/Profile JS.js"></script>

</body>
</html>