@model List<Cart>
<!DOCTYPE html>

<html>

<head>

    <title>

        Shopping Cart

    </title>

    <environment>
        <link rel="stylesheet" type="text/css" href="~/css/Shopping Cart CSS.css">
        <link rel="stylesheet" type="text/css" href="~/css/Home Page CSS.css">
    </environment>

    <script src="https://kit.fontawesome.com/9088cc6401.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="container">


        <div class="cart">

            <div class="products">
                @foreach (var cart in Model)
                {
                    <div class="product">

                        <img src="@cart.product.imgURL">

                        <div class="product-info">

                            <h3 class="product-name">

                                @cart.product.name

                            </h3>

                            <h4 class="product-price">

                                LBP @cart.product.price

                            </h4>


                            <p class="product-quantity">

                                Qnt: @cart.product.quantity

                                <input value="1" name="">

                            </p>

                            <p class="product-remove">

                                <i class="fas fa-trash-alt"></i>

                                <span class="remove">

                                    Remove

                                </span>

                            </p>

                        </div>

                    </div>
                }


                @* <div class="product">

                    <img src="~/images/images/pack2.jpg">

                    <div class="product-info">

                    <h3 class="product-name">

                    Large Pack

                    </h3>

                    <h4 class="product-price">

                    LBP 154,000

                    </h4>

                    <h4 class="product-offer">

                    20%

                    </h4>

                    <p class="product-quantity">

                    Qnt:

                    <input value="1" name="">

                    </p>
                    <p class="product-remove">

                    <i class="fas fa-trash-alt"></i>

                    <span class="remove">

                    Remove

                    </span>

                    </p>

                    </div>

                    </div>

                    </div>

                    <div class="cart-total">

                    <p>

                    <span>

                    Total Price

                    </span>

                    <span>

                    LBP 159,500

                    </span>

                    </p>
                    <p>

                    <span>

                    No. of Items

                    </span>

                    <span>

                    2

                    </span>

                    </p>

                    <p>

                    <span>

                    You Save

                    </span>

                    <span>

                    LBP 23,000

                    </span>

                    </p>

                    <a asp-action="DetailsForCheckout">

                    Proceed to Checkout

                    </a>

                    </div> *@

            </div>

        </div>

</body>

</html>